.calendar {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 158px;
	line-height: 158px;
	text-align: center;
	background-color: #fff;
}

.calendar .calendar-time {
	display: inline-block;
	vertical-align: middle;
	height: 86px;
	line-height: 86px;
	width: 86px;
	background-color: #ffe6e6;
	border-radius: 15px;
	text-align: center;
	overflow: hidden;
}

.calendar .calendar-time h4 {
	height: 61px;
	line-height: 61px;
	font-size: 36px;
	font-weight: bold;
	color: #ff5a5f;
	margin: 0px;
}

.calendar .calendar-time p {
	height: 25px;
	line-height: 25px;
	background-color: #ff5a5f;
	font-size: 18px;
	color: #fff;
}

.calendar .calendar-time.two {
	background-color: #eafffa;
}

.calendar .calendar-time.two h4 {
	color: #2dcfaa;
}

.calendar .calendar-time.two p {
	background-color: #2dcfaa;
}

.calendar .calendar-btn {
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
	width: 115px;
	height: 86px;
	line-height: 86px;
	background-color: #fafafa;
	border-radius: 3px;
	text-align: center;
	-webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.calendar .calendar-btn h4 {
	margin-top: 15px;
	margin-bottom: 6px;
	font-size: 24px;
	line-height: 31px;
	color: #333;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.calendar .calendar-btn h4.check {
	font-size: 18px;
	color: #999;
}

.calendar .calendar-btn p {
	font-size: 14px;
	line-height: 19px;
	color: #999;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.calendar .calendar-btn p span {
	color: #ad984e;
	font-weight: bold;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.calendar .calendar-btn:hover {
	background-color: #ad984e;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.calendar .calendar-btn:hover h4 {
	color: #fff;
}

.calendar .calendar-btn:hover p {
	color: #fff;
}

.calendar .calendar-btn:hover p span {
	color: #fff;
}

.calendar .calendar-btn.check {
	background-color: #fafafa;
	-webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.calendar .calendar-btn.check h4 {
	font-size: 18px;
	color: #999;
}

.calendar .calendar-btn.check p {
	color: #999;
}

.calendar .calendar-btn.check p span {
	color: #ad984e;
}

.copy-remark {
	float: left;
	font-size: 12px;
	color: #999;
	line-height: 16px;
}

.myicon-like {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url("/images/like.png") no-repeat center top;
	background-size: 26px 26px;
}

.myicon-comment {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	background: url("/images/comment.png") no-repeat center top;
	background-size: 26px 26px;
}

.like {
	float: right;
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

.like .myicon-like {
	margin-right: 5px;
}

.commnet-wrap {
	width: 760px;
	margin: 0 auto;
}

.comment {
	margin-top: 65px;
}

.comment .avatar {
	position: absolute;
	margin-top: 10px;
	margin-left: 30px;
	width: 42px;
	height: 42px;
}

.comment .avatar img {
	border-radius: 50% !important;
}

.comment-main {
	margin-left: auto;
	margin-right: 0;
	width: 675px;
}

.comment-main textarea {
	display: block;
	padding: 10px;
	width: 675px;
	height: 80px;
	border: 1px solid #e3e5e6;
	border-radius: 2px !important;
	box-sizing: border-box;
	resize: none;
	outline: none;
	font-size: 12px;
	line-height: 15px;
	color: #333;
	letter-spacing: 2px;
}

.comment-main .btn-main {
	text-align: right;
	font-size: 0;
}

.comment-main .btn-main .mybtn {
	display: inline-block;
	vertical-align: middle;
	margin-top: 26px;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 0;
	font-size: 16px;
	color: #666;
}

.comment-main .btn-main .mybtn.send {
	padding: 0;
	background-color: #e0c69b;
	color: #fff;
}

.comment-main .btn-main.disable .mybtn {
	color: #cfcfcf;
}

.comment-main .btn-main.disable .mybtn.send {
	color: #fff;
	background-color: #cfcfcf;
}

.comment-list {
	margin-top: 60px;
}

.comment-list h2 {
	margin: 0 0 20px;
	padding-bottom: 12px;
	font-size: 14px !important;
	line-height: 20px !important;
	color: #666;
	letter-spacing: 2.3px;
	border-bottom: 1px solid #eee;
}

.comment-list .list .item .avatar {
	position: absolute;
	width: 42px;
	height: 42px;
	margin-top: 3px;
	margin-left: 30px;
}

.comment-list .list .item .avatar img {
	border-radius: 50% !important;
}

.comment-list .list .item .item-main {
	margin-left: auto;
	margin-right: 0;
	width: 675px;
}

.comment-list .list .item .item-main h4 {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 42px;
	color: #666;
}

.comment-list .list .item .item-main h4 span {
	margin-left: 10px;
	font-size: 12px;
	color: #999;
}

.comment-list .list .item .item-main p {
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

.comment-list .list .item .item-main .btn-main {
	line-height: 26px;
	color: #999;
	font-size: 0;
}

.comment-list .list .item .item-main .btn-main span {
	margin-left: 6px;
	margin-right: 20px;
	vertical-align: middle;
	font-size: 12px;
}

.comment-list .list .item .item-main .secComment {
	margin-top: 20px;
	margin-right: 0;
	margin-left: auto;
	width: 610px;
}

.comment-list .list .item .item-main .secComment .secItem {
	padding-top: 20px;
	padding-bottom: 20px;
}

.comment-list .list .item .item-main .secComment .secItem .name {
	display: block;
	position: absolute;
	margin-top: 3px;
	margin-left: -126px;
	width: 200px;
	font-size: 16px;
	line-height: 16px;
	text-align: right;
	color: #b9a273;
}

.comment-list .list .item .item-main .secComment .secItem .secItem-main
	{
	margin-left: 74px;
	border-bottom: 1px solid #e3e5e6;
}

.comment-list .list .item .item-main .secComment .secItem .secItem-main h5
	{
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 23px;
	color: #666;
}

.comment-list .list .item .item-main .secComment .secItem .secItem-main h5 .to
	{
	margin-right: 14px;
	color: #b9a273;
	font-size: 16px;
}

.comment-list .list .item .item-main .secComment .secItem .secItem-main p
	{
	font-size: 12px;
	color: #999;
}

.comment-list .list .item .item-main .secComment .secItem .secItem-main p a
	{
	margin-left: 37px;
	color: #999;
}

.comment-list .list .item .item-main .secComment .secItem:last-child .secItem-main
	{
	border-bottom: none;
}

.comment-list .list .item .item-main .secComment .comment-main {
	width: auto;
}

.comment-list .list .item .item-main .secComment .comment-main textarea
	{
	margin-right: 0;
	margin-left: auto;
	width: 520px;
	height: 80px;
}

.pager {
	max-width: 800px;
	text-align: center;
	margin-bottom: 30px;
	display: inline-block;
}

.pager a {
	cursor: pointer;
	width: 35px;
	height: 35px;
	background: #FBFBFB;
	display: inline-block;
	line-height: 35px;
	font-size: 14px;
	color: #222222;
	float: left;
	text-decoration: none;
	margin: 0 10px;
}

.pager a:hover {
	color: #fff;
	background: #666;
	position: relative;
	z-index: 1;
}

.pager a.current {
	background-color: #e0c69b;
	color: #fff;
	position: relative;
	z-index: 1;
}

.m2-comment-list {
	margin: 0 auto;
	max-width: 100%;
}

.m2-comment-list a {
	color: #969696;
}

.m2-comment-list a:hover {
	color: #2f2f2f !important;
}

.new-comment form {
	display: block;
	margin: 0 0 20px 48px;
	position: relative;
	font-size: 0;
}

.new-comment form .avatar {
	position: absolute;
	left: -48px;
	display: inline-block;
	margin-right: 5px;
	width: 38px;
	height: 38px;
	vertical-align: middle;
}

.new-comment form .avatar img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-radius: 50% !important;
	vertical-align: middle;
}

.new-comment form .haslogin {
	display: none;
	vertical-align: top;
	width: 100%;
}

.new-comment form .haslogin textarea {
	padding: 10px 15px;
	width: 100%;
	height: 80px;
	font-size: 13px;
	border: 1px solid #dcdcdc;
	border-radius: 4px !important;
	background-color: rgba(181, 181, 181, 0.1);
	resize: none;
	outline-style: none;
	border-sizing: border-box;
}

.new-comment form .haslogin .write-function-block {
	display: none;
	height: 50px;
	opacity: 0;
	transform: translateY(-50%) scaleY(0);
	transition: all 0.1s ease-in-out;
	overflow: hidden;
}

.new-comment form .haslogin .write-function-block .cancel {
	float: right;
	margin: 18px 30px 0 0;
	font-size: 16px;
}

.new-comment form .haslogin .write-function-block .send {
	display: block;
	float: right;
	margin: 10px 0;
	width: 78px;
	padding: 8px 18px;
	font-size: 16px;
	border: none;
	border-radius: 4px !important;
	color: #fff;
	background-color: #42c02e;
	outline: none;
}

.new-comment form .haslogin .write-function-block .send:hover {
	background-color: #3db922;
}

.new-comment form .haslogin .write-function-block.show {
	display: block;
}

.new-comment form .haslogin .write-function-block.animate {
	opacity: 1;
	transform: translateY(0) scaleY(1);
}

.new-comment form .haslogin.show {
	display: inline-block;
}

.m2-comment-list .new-comment form .nologin {
	padding: 10px 15px;
	width: 100%;
	height: 80px;
	font-size: 13px;
	border: 1px solid #dcdcdc;
	border-radius: 4px !important;
	background-color: rgba(181, 181, 181, 0.1);
	resize: none;
	display: none;
	vertical-align: top;
	outline-style: none;
	border-sizing: border-box;
	text-align: center;
}

.m2-comment-list .new-comment form .nologin .sign {
	display: inline-block;
	width: 78px;
	margin: 11px 10px 0 0;
	padding: 7px 18px;
	font-size: 16px;
	border: none;
	border-radius: 4px !important;
	color: #fff !important;
	background-color: #3194d0;
	outline: none;
	text-align: center;
}

.m2-comment-list .new-comment form .nologin span {
	font-size: 14px;
}

.m2-comment-list .new-comment form .nologin.show {
	display: inline-block;
}

.m2-comment-list h4 {
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f0f0;
}

.m2-comment-list .normal-comment-list .item {
	padding: 20px 0 30px;
	border-bottom: 1px solid #f0f0f0;
}

.m2-comment-list .normal-comment-list .item:last-child {
	border-bottom: none;
}

.m2-comment-list .normal-comment-list .item .author {
	margin-bottom: 15px;
}

.m2-comment-list .normal-comment-list .item .author .avatar {
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 38px;
}

.m2-comment-list .normal-comment-list .item .author .avatar img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-radius: 50% !important;
}

.m2-comment-list .normal-comment-list .item .info {
	display: inline-block;
	vertical-align: middle;
}

.m2-comment-list .normal-comment-list .item .info .name {
	font-size: 15px;
}

.m2-comment-list .normal-comment-list .item .info .meta {
	font-size: 12px;
	color: #969696;
}

.m2-comment-list .normal-comment-list .item .info .meta span {
	margin-right: 6px;
}

.m2-comment-list .normal-comment-list .item .comment-wrap p {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.5;
}

.m2-comment-list .normal-comment-list .item .comment-wrap .tool-group a
	{
	margin-right: 10px;
	font-size: 0;
	color: #969696;
	display: inline-block;
}

.m2-comment-list .normal-comment-list .item .comment-wrap .tool-group a i
	{
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}

.m2-comment-list .normal-comment-list .item .comment-wrap .tool-group a span
	{
	vertical-align: middle;
	font-size: 14px;
}

.m2-comment-list .sub-comment-list {
	margin-top: 20px;
	padding: 5px 0 5px 20px;
	border-left: 2px solid #d9d9d9;
}

.m2-comment-list .sub-comment-list .sub-comment {
	display: none;
	border-bottom: 1px dashed #f0f0f0;
}

.m2-comment-list .sub-comment-list .sub-comment p {
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 1.5;
}

.m2-comment-list .sub-comment-list .sub-comment p a {
	color: #3194d0;
}

.m2-comment-list .sub-comment-list .sub-comment:nth-child(1),
	.m2-comment-list .sub-comment-list .sub-comment:nth-child(2),
	.m2-comment-list .sub-comment-list .sub-comment:nth-child(3) {
	display: block;
}

.m2-comment-list .sub-comment-list .sub-tool-group {
	font-size: 12px;
	color: #969696;
	line-height: 26px;
}

.m2-comment-list .sub-comment-list .sub-tool-group span {
	vertical-align: middle;
}

.m2-comment-list .sub-comment-list .sub-tool-group a {
	display: inline-block;
	margin-left: 10px;
	color: #969696;
}

.m2-comment-list .sub-comment-list .sub-tool-group a .myicon-comment {
	vertical-align: middle;
}

.m2-comment-list .sub-comment-list .sub-tool-group a span {
	vertical-align: middle;
}

.m2-comment-list .sub-comment-list .more-comment {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 14px;
	color: #969696;
}

.m2-comment-list .sub-comment-list .more-comment .line-warp {
	display: none;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #d9d9d9;
}

.m2-comment-list .sub-comment-list .more-comment .line-warp.show {
	display: inline-block !important;
}

.m2-comment-list .sub-comment-list .new-comment {
	margin-top: 15px;
	padding-top: 15px;
	display: none;
	opacity: 0;
	transform: translateY(-50%) scaleY(0);
	transition: all 0.2s ease-in-out;
}

.m2-comment-list .sub-comment-list .new-comment form {
	margin: 0;
}

.m2-comment-list .sub-comment-list .new-comment.show {
	display: block;
}

.m2-comment-list .sub-comment-list .new-comment.animate {
	opacity: 1;
	transform: translateY(0) scaleY(1);
}

.m2-comment-list .sub-comment-list.check .sub-comment {
	display: block !important;
}

.m2-pagination {
	margin: 40px 0;
	text-align: center;
	display: block;
	font-size: 0;
}

.m2-pagination li {
	margin: 0 5px;
	display: inline-block;
	line-height: 20px;
}

.m2-pagination li a {
	display: block;
	border-radius: 4px !important;
	font-weight: 700;
	font-size: 14px;
	color: #969696 !important;
	border: 1px solid #ddd;
	box-sizing: border-box;
	text-align: center;
}

.m2-pagination li a.active {
	border: none !important;
	background: transparent;
}

.post-intro {
	margin-bottom: 6px;
	height: 120px;
	background-color: #f9f9f9;
	font-size: 0;
}

.post-intro img {
  position: absolute;
  width: 120px;
  height: 120px;
}

.post-intro .intro-main {
  display: inline-block;
  vertical-align: top;
  padding-left: 135px;
  padding-right:10px;
  width: 100%;
}
.post-intro .intro-main h4 {
  margin-top: 18px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-intro .intro-main .txt {
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  color: #999;
}

 .post-intro h4 {
  margin-top: 18px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-intro-img {
	margin-bottom: 6px;
	height: 120px;
	background-color: #f9f9f9;
	font-size: 0;
}

.post-intro-img img {
  position: absolute;
  width: 120px;
  height: 120px;
}

.post-intro-img .intro-main {
  display: inline-block;
  vertical-align: top;
  padding-left: 135px;
  padding-right:10px;
  width: 100%;
}

 .post-intro-img .intro-main h4 {
  margin-top: 18px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-intro-img .intro-main .txt-img {
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  color: #999;
}