.pictogram {
    width: 48px;
    height: 48px;
    background: rgba(200,200,200,0.1) no-repeat;
    background-size: 100%;
    margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

.blurb
{
	box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis
}
.blurb small{
	display: block;
	line-height: 24px;
}